<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.line.krishna.investmentapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewCustomerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CustomerLoanActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PaymentPeriodActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CustomerDetailsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LineDetailActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".design.SnakeBarMainActivity"
            android:theme="@style/AppThemeDesign" />
        <activity
            android:name=".design.NavigationMainActivity"
            android:theme="@style/AppThemeDesign" />
    </application>

</manifest>
